<% include ./partials/header.ejs %>
<div class="container">
    <% if(peopleMissing != 0){ %>
    <h2><a href="/johndoes">You have <strong><%= peopleMissing %></strong> unknown
            <% if(peopleMissing > 1){ %>
            people
            <% } else{ %>
            person
            <% } %>
        </a></h2>
    <% } %>
    <% if(attendees.length == 0){ %>
    <h1>It's a lonely day...</h1>
    <% } else { %>
    <div>
        <% attendees.sort();
        attendees.forEach(function (attendee) { %>
        <h4><%= attendee.name %></h4>
        <% }); %>
    </div>
    <% } %>
</div>
<% include ./partials/footer.ejs %>