<% include ./partials/header.ejs %>
<div class="container">
    <% if(attendees.length == 0){ %>
    <h1>No one checked in yet...</h1>
    <% } else { %>
    <h2>You have <strong><%= peopleMissing %></strong> unknown people</h2>
    <ul>
        <% attendees.forEach(function (attendee) { %>
        <li>
            <%= attendee.name %>
        </li>
        <% });;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; %>
    </ul>
    <% };;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; %>
</div>
<% include ./partials/footer.ejs %>