<% include ./partials/header.ejs %>
<div class="container">

    <% if(johndoes.length == 0){ %>
    <h1>Everyone is identified :)</h1>
    <% } else { %>
    <ul>
        <% johndoes.forEach(function (johndoe) { %>
        <li>
            <form name="<%= johndoe.uid %>" action="/johndoes" method="POST">
                <div class="form-group">
                    <%= johndoe.time %> : <input type="text" value="<%= johndoe.uid %>" readonly name="uid"> <input
                            type="text" name="name" required> <input type="text" name="photo">
                    <input type="submit" class="btn btn-primary btn-small" value="Add">
                </div>
            </form>
        </li>
        <% }) %>
    </ul>
    <% } %>
</div>
<% include ./partials/footer.ejs %>